doctype html 
html 
    head 
        title Fitness friend
        block scripts 
        block style
    body 
        nav#navbar.top 
            ul
                h1#logo Fitness Friend
                li #[a(href="/home") Home ]
                li #[a(href="/workout") Workout ]
                li #[a(href="/diet") Diet] 
        block content          
        footer#footer 
            | copyright © 2022 FitnessFriend | All rights reserved 