doctype html 
html 
    head 
        title Fitness friend
        style 
            include ../static/baseStyle.css
    body 
        nav#navbar.top 
            ul
                h1#logo Fitness Friend
                li #[a(href="/") Home ]
                li #[a(href="/") Workout ]
                li #[a(href="/") Diet] 
        block content          
        footer#footer 
            | copyright © 2022 FitnessFriend | All rights reserved 